---
import Layout from "@/layouts/Layout.astro";
import RunsSchedule from "../components/ScheduleList.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Main from "@/layouts/Main.astro";
import schedule from "@/data/schedule/schedule.json"
import { SITE } from "@/config";
---

<Layout title={`Donateathon Schedule | ${SITE.title}`}>
<Header />
<Main pageTitle="Donate-a-thon Schedule" pageDesc="April 24th to April 26th, I will be doing a mini-marathon to raise funds for RPGSU.">
    <div class="space-y-4 mb-10">
        <p>The <a class="hover:text-accent" href="https://rpgsu.org/">RPG Speedrunner Union</a> will be organizing their first on-site event, RPGSU Offline 2026, from October 22 to October 25. Given that it's the first on-site event, there are many variables, especially in regards being able to afford the event space, as we don't have any estimate of what the number of attendees will be.</p>
        <p>To make sure the event happens, even if our attendance is smaller, I thought to organize this mini-marathon as a way to raise some emergency funds and to spread the word about the event. As one of the main organizers of RPGSU, many of these expenses will fall on me directly, so any donations help!</p>
        <p>If you are not in a position to support monetarily, I would be very grateful if you could spread the word and keep me company during the event!</p>
        <p>Bonus Requirements (in order):</p>
        <ul>
            <li class="list-disc list-inside">Shin Megami Tensei 20XX - 10 subs or 50€ donation total</li>
            <li class="list-disc list-inside">Shin Megami Tensei (SFC) Any% - 20 subs or 100€ donation total</li>
            <li class="list-disc list-inside">Shin Megami Tensei (GBA) All Visionary Items - 50 subs or 250€ donation total</li>
            <li class="list-disc list-inside">Majin Tensei Medusa% - 100 subs or 400€ donation total</li>
        </ul>
        <p>If we surpass these goals, we can discuss anything extra to be added. It has to be speedrun or game related.</p>
    </div>
    <RunsSchedule data={schedule} />
</Main>
<Footer />
</Layout>