.Topbar{
    display:flex;
} 


/* MAIN VIEW OF TOPBAR */
.Topbar_left{
    position: fixed;
    left: 0;
    width: 25%;
    color: white;
    background-color: #1f1f1f;
    height: 100%;
    float: left;
    top: 0;
}


.nav-links-container{
    display:flex;
}