body {
  font-family: "ProggyCleanTT CE Nerd Font","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック";
	font-size: 18px;
	background: #3c3c3c url(../public/images/background.jpg) no-repeat center center fixed;
	color: #ffffff;
	overflow-x: hidden; 
	margin: 0;
}

root {
  display: flex;
}

